@use "sass:map";
// Breakpoints
// 375px, 480px, 576px, 600px, 768px, 1024px
$breakpoints: ("xxsmall": "23.4375em", "xsmall": "30em", "small": "36em", "medium": "37.5em", "large": "48em", "xlarge": "64em");

@mixin breakpoint($size){
  @media (min-width: map.get($breakpoints, $size)){
    @content;
  }
}

// Btn
@mixin btn($width: 11.25rem) {
  display: block;
  width: $width;
  margin: 0 auto;
  padding: 14px 0;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--text-btn);
  background-color: var(--bg-btn);
  border: 2px solid var(--bg-btn);
  cursor: pointer;
  transition: color .3s, background-color .3s;

  &:hover:not(:disabled) {
      opacity: .8;
  }
}