body {
  font-family: "Lato", sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

a {
  color: var(--text);
}

img {
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.dib {
  display: inline-block;
}
