:root {
  --text: #000;
  --bg: #fff;
  --placeholder: #757575;
  --text-field: #000;
  --bg-name: #f5f5f5;
  --bg-email: #f0f0f0;
  --bg-textarea: #e0e0e0;
  --text-btn: #fff;
  --bg-btn: #000;
}

@mixin darkMode {
  :root {
    --text: #ddd;
    --bg: #000;
    --placeholder: #bebebe;
    --text-field: #fff;
    --bg-name: #222;
    --bg-email: #222;
    --bg-textarea: #222;
    --text-btn: #000;
    --bg-btn: #fff;
  }
}