@use "mixins";

.hero {
  padding: 0 1.25rem;
  text-align: center;
}

.hero__name {
  font-family: 'Oswald', sans-serif;
  font-size: 2.8125rem;
  line-height: 1.2;
  letter-spacing: .15em;
  margin-bottom: 0.9375rem;
}
.hero__title {
  font-size: 0.8125rem;
  letter-spacing: .25em;
}

@include mixins.breakpoint(medium) {
  .hero__name {
    font-size: clamp(2.8125rem, 7vw, 5rem);
    margin-bottom: 1.25rem;
  }

  .hero__title {
      font-size: 1.25rem;
  }
}
