@import 'destyle.css';
@import 'base/_global';
@import 'base/_variables';
@import 'modules/_hero';
@import 'modules/_btn';
@import 'modules/_contact-form';


.container {
  /* スクロールスナップの設定 */
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.area {
  /* テキストを画面中央に表示 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* スクロールスナップの設定 */
  scroll-snap-align: start;
  height: 100vh;
}

.logo {
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.75rem;
}

@media (min-width: 36em) {
  .logo {
    font-size: 2.25rem;
  }
}
@media (min-width: 48em) {
  .logo {
    font-size: 2.5rem;
  }
}
/*========= ナビゲーションのためのCSS ===============*/
/*アクティブになったエリア*/
.nav {
  display: none;
}

.nav.panelactive {
  display: block;
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
  /*ナビゲーションの背景色*/
  -webkit-animation-name: gnaviAnime;
          animation-name: gnaviAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  background-color: var(--bg);
}

/*丸の拡大*/
.circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*丸のスタート位置と形状*/
  transform: scale(0);
  /*scaleをはじめは0に*/
  top: calc(50% - 50px);
  /*50%から円の半径を引いた値*/
  left: calc(50% - 50px);
  /*50%から円の半径を引いた値*/
  transition: all 0.6s;
  /*0.6秒かけてアニメーション*/
  /*ボーダーでワープみたいな演出*/
  border: 2px dashed var(--text);
}

.circle-bg.circleactive {
  transform: scale(50);
  /*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーション*/
.nav__list {
  opacity: 0;
  /*はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*背景が出現後にナビゲーションを表示*/
.nav.panelactive .nav__list {
  opacity: 1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
.nav.panelactive .nav__item {
  -webkit-animation-name: gnaviAnime;
          animation-name: gnaviAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  /*0.2 秒遅らせて出現*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--text);
  text-transform: uppercase;
  padding: 1.5625rem;
}

@media (min-width: 37.5em) {
  .nav__link {
    font-size: 2.1875rem;
  }
}
/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 9999;
  /*ボタンを最前面に*/
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--text);
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.body-no-scroll {
  overflow: hidden;
}

.about__body {
  margin: 0 auto;
}

.about__img {
  display: block;
  width: 6.25rem;
  margin: 0 auto 1.875rem;
  border-radius: 50%;
  border: 2px solid var(--text);
}

.about__desc {
  width: 83.3333%;
  margin: 0 auto;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.3em;
}

@media (min-width: 23.4375em) {
  .about__desc {
    width: 75%;
  }
}
@media (min-width: 37.5em) {
  .about__body {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: clamp(3.125rem, 8vw, 5rem);
    text-align: left;
  }
  .about__img {
    width: clamp(6.25em, 13vw, 8.125rem);
    margin: 0;
  }
  .about__desc {
    width: clamp(21.875rem, 50vw, 31.25rem);
    font-size: clamp(1.0625rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
  }
}
.swiper-slide__picture {
  margin: 0 auto 0.625rem;
  border: 1px solid #d2d5d9;
  overflow: hidden;
  display: block;
  margin-bottom: 0.625rem;
}

.swiper-slide__title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.3em;
  text-align: center;
  margin-bottom: 0.625rem;
}

.swiper-slide__desc {
  width: 83.3333%;
  margin: 0 auto 2.8125rem;
  font-size: 0.9375rem;
  line-height: 25px;
  letter-spacing: 0.3em;
  text-align: center;
}

.swiper {
  max-width: 21.875rem;
  width: 87.5%;
  margin: 0 auto;
}

.swiper-pagination-bullet-active {
  background: #000;
}

@media (min-width: 30em) {
  .swiper {
    max-width: 31.25rem;
    width: 75%;
  }
}
@media (min-width: 48em) {
  .swiper-slide__title {
    font-size: 1.5625rem;
  }
  .swiper-slide__desc {
    width: 75%;
    font-size: 1.0625rem;
    line-height: 23px;
  }
  .swiper {
    max-width: 37.5rem;
  }
}
@media (min-width: 64em) {
  .swiper-slide__picture {
    margin-bottom: 1.25rem;
  }
  .swiper-slide__title {
    font-size: 2.5rem;
  }
  .swiper {
    max-width: 40.625rem;
  }
}
.hidden-iframe {
  display: none;
}

.form {
  width: 75%;
  margin: 0 auto;
}

.form-fields {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 1.25rem;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px 45px 10px 20px;
  font-size: 16px;
  color: var(--text-field);
  resize: vertical;
}
.form-field input::-moz-placeholder, .form-field textarea::-moz-placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: var(--placeholder);
}
.form-field input::placeholder,
.form-field textarea::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: var(--placeholder);
}

.form-field input {
  height: 50px;
}

.form-field input[type=text] {
  background-color: var(--bg-name);
}

.form-field input[type=email] {
  background-color: var(--bg-email);
}

.form-field textarea {
  padding-top: 15px;
  height: 150px;
  background-color: var(--bg-textarea);
}

@media (min-width: 36em) {
  .form-field {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 48em) {
  .form-fields {
    max-width: 37.5rem;
  }
}
.form-field {
  position: relative;
}
.form-field .indicator {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 10px;
  height: 10px;
  display: none;
  font-size: 1rem;
}

.form-field .indicator.valid {
  display: block;
  color: var(--text-field);
}

.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20rem;
  height: 100vh;
  margin: 0 auto;
  padding-left: 1.25rem;
}

.thankyou__title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.15em;
  margin-bottom: 0.9375rem;
}

.thankyou__text {
  font-size: 0.9375rem;
  line-height: 1.5em;
  letter-spacing: 0.3em;
  margin-bottom: 2.5rem;
}
