.form {
  width: 75%;
  margin: 0 auto;
}

.form-fields {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}


.form-field {
  margin-bottom: 1.25rem;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px 45px 10px 20px;
  font-size: 16px;
  color: var(--text-field);
  resize: vertical;

  &::placeholder {
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: .2em;
      color: var(--placeholder);
  }
}

.form-field input {
  height: 50px;
}

.form-field input[type='text'] {
background-color: var(--bg-name);
}

.form-field input[type='email'] {
background-color: var(--bg-email);
}

.form-field textarea {
  padding-top: 15px;
  height: 150px;
  background-color: var(--bg-textarea);
}

.submit-btn {
  @include mixins.btn;

  &:disabled {
      color: #ccc;
      background-color: transparent;
      border: 2px solid #ccc;
      cursor: not-allowed;
  }
}

@mixin atSmall {
  .form-field {
    margin-bottom: 1.875rem;
  }
}

@mixin atLarge {
  .form-fields {
    max-width: 37.5rem;
  }
}

.form-field {
  position: relative;

  .indicator {
      position: absolute;
      top: 15px;
      right: 20px;
      width: 10px;
      height: 10px;
      display: none;

      font-size: 1rem;
  }
}

.form-field .indicator.valid {
  display: block;
  color: var(--text-field);
}