.hero {
  padding: 0 1.25rem;
  text-align: center;

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 2.8125rem;
    line-height: 1.2;
    letter-spacing: 0.15em;
    margin-bottom: 0.9375rem;

    @mixin atMedium {
      font-size: clamp(2.8125rem, 7vw, 5rem);
      margin-bottom: 1.25rem;
    }
  }

  &__subtitle {
    font-size: 0.8125rem;
    letter-spacing: 0.25em;

    @mixin atMedium {
      font-size: 1.25rem;
    }
  }
}
