.swiper {
  max-width: 21.875rem;
  width: 87.5%;
  margin: 0 auto;

  @mixin atXsmall {
    max-width: 31.25rem;
    width: 75%;
  }

  @mixin atLarge {
    max-width: 37.5rem;
  }

  @mixin atXlarge {
    max-width: 40.625rem;
  }

  &-pagination-bullet {
    background: var(--swiper-bullet);
  
    @mixin darkMode {
      opacity: .5;

      &-active {
        opacity: 1;
      }
    }
  }
}
